.send-tweet {
  &__open-modal {
    position: fixed !important;
    right: 30px;
    bottom: 30px;
    background-color: #00acee !important;
    color: white;
    z-index: 1;
  }
  .MuiButtonBase-root {
  }
}

@media (max-width: 500px) {
  .send-tweet {
    .MuiButtonBase-root {
      bottom: 10% !important;
      right: 5% !important;
    }
  }
}
