.content-movie__header {
  z-index: 10;
  position: relative;
}
.content-movie {
  position: relative;
}

.movie {
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
  }

  > .ant-row {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__poster {
    z-index: 1;
    height: 70%;
    div {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &__info {
    z-index: 2;
    height: 70%;
    color: #fff;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: #fff;
        margin: 0;
        font-size: 30px;
        span {
          font-size: 20px;
          margin-left: 10px;
          opacity: 0.5;
        }
      }
      button {
        height: 100%;
        background-color: transparent;
        color: #fff;
        border: 0;
        font-size: 15px;
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          color: turquoise;
        }
      }
    }
    &-content {
      margin-top: 20px;
      h3 {
        color: #fff;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 600px) {
  .movie__info-content {
    margin: 10px 0px 0px 20px;
    width: 200px;
    .movie__description-movie {
      height: 150px;
      overflow: auto;
    }
    .movie__title-movie {
      width: 270px;
    }
  }
  .movie__info-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    .movie__title {
      width: 270px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 3;
    }
  }
}

@media (max-width: 400px) {
  .movie__info-content {
    margin: 10px 0px 0px 20px;
    width: 150px;
    .movie__description-movie {
      height: 150px;
      overflow: auto;
    }
    .movie__title-movie {
      width: 270px;
    }
    h3 {
      font-size: 16px;
    }
  }
  .movie__info-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    .movie__title {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 3;
      font-size: 20px;
    }
  }
}
