.header-cine {
  background-color: #001529;
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 64px;
  width: 100%;
  padding-left: 35px;
  .header-cine__content {
    &__logo-responsive {
      display: none;
    }
    .landing-menu {
      display: none;
    }
  }
  .m-0 {
    margin-left: -400px !important;
  }
}

@media (max-width: 500px) {
  .header-cine {
    padding-left: 0;
    .header-cine__content {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 10;
      padding-top: 7px;
      .header-cine__logo-responsive {
        padding-left: 35px;
        width: 100%;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: white;
          font-size: 50px;
        }
      }
      .landing-menu {
        transition: 1.3s;
        display: flex;
        flex-direction: column;
        color: white;
        background: #001529;
        padding: 25px;
        width: 200px;
        height: 400px;
        justify-content: space-between;
        font-size: 20px;
        .header-cine__content-link {
          .header-cine__link {
            color: white;
            font-weight: 600;
            margin: 4px 0 4px 0 !important;
          }
        }
      }
    }
  }
}
