body {
  margin: 0;
  font-family: sans-serif;
  &::-webkit-scrollbar {
    background-color: white;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #15202b;
    border-radius: 6px;
  }
  .TS-Container {
    background: linear-gradient(125deg, #15202b 20%, white);
    min-height: 100vh;
  }
}
